@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.logo {
    width: 130px;
}

.hide-mobile {
    display: none;
}
header {
    display: flex;
    justify-content: space-between;
}

.menu {
    width: 25px;
    margin-top: 45%;
}
section {
    text-align: center;
    padding: .8em 1.2em;
}
